<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- 定义数据源： -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/cms" />
		<property name="user" value="root" />
		<property name="password" value="root" />
		<property name="maxPoolSize" value="100"></property>
		<property name="minPoolSize" value="1" />
		<property name="initialPoolSize" value="1" />
		<property name="maxIdleTime" value="30" />
	</bean>




	<!-- 定义Hibernate的SessionFactory： -->
	<bean id="sessionfactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
				hibernate.hbm2ddl.auto=update
			</value>
		</property>

		<property name="mappingResources">
			<list>
				<value>zlin/clothing/po/ClothingPO.hbm.xml</value>
				<value>zlin/store/po/StorePO.hbm.xml</value>
				<value>hjh/orderin/domain/InOrder.hbm.xml</value>
				<value>hjh/orderin/domain/InOrderDetail.hbm.xml</value>
			</list>
		</property>
	</bean>





<!-- 查询入库单模块 -->
	<bean id="queryOrderInDAOImpl" class="hjh.orderin.daoimpl.QueryOrderInDAOImpl">
		<property name="sessionFactory" ref="sessionfactory"></property>
	</bean>
	
	<bean id="queryOrderInServiceImpl" class="hjh.orderin.serviceimpl.QueryOrderInServiceImpl">
		<property name="query" ref="queryOrderInDAOImpl"></property>
	</bean>
	
	<bean id="queryOrderInAction" class="hjh.orderin.action.QueryOrderInAction"
		scope="prototype">
		<property name="queryOrderInService" ref="queryOrderInServiceImpl"></property>
	</bean>

<!-- 删除入库单模块 -->
    <bean id="deleteOrderInDAOImpl" class="hjh.orderin.daoimpl.DeleteOrderInDAOImpl">
		<property name="sessionFactory" ref="sessionfactory"></property>
	</bean>
	
	<bean id="deleteOrderInServiceImpl" class="hjh.orderin.serviceimpl.DeleteOrderInServiceImpl">
		<property name="deleteOrderInDAO" ref="deleteOrderInDAOImpl"></property>
	</bean>
	
	<bean id="deleteOrderInAction" class="hjh.orderin.action.DeleteOrderInAction"
		scope="prototype">
		<property name="deleteOrderInService" ref="deleteOrderInServiceImpl"></property>
	</bean>
	
	<bean id="test_add_orderin" class="hjh.orderin.action.TestAddInOrder">
	</bean>
</beans>










